!!! 5
html(ng-app='github-status-tray')
  head
    base(href='../')
    link(rel='stylesheet', type='text/css', href='components/semantic/build/packaged/css/semantic.min.css')
    link(rel='stylesheet', type='text/css', href='styles/app.css')
    block head
  body
    block nav
    .container
      #content
        block content

    script(src='components/jquery/jquery.min.js')
    script(src='components/semantic/build/packaged/javascript/semantic.min.js')
    script(src='components/angular-unstable/angular.min.js')
    script(src='scripts/main.js')
    script(src='scripts/site.js')
