extends main-layout

block head
  link(rel='stylesheet', type='text/css', href='styles/settings.css')

block scripts
  script(src='scripts/ctrls/settingsCtrl.js')

block content
  .ui.form.segment(ng-controller='settingsCtrl')
    .field
        label Username
        .ui.left.labeled.icon.input
          input(type='text', placeholder='Username')
          i.user.icon
          .ui.corner.label
            i.icon.asterisk
      .field
        label Password
        .ui.left.labeled.icon.input
          input(type='password')
          i.lock.icon
          .ui.corner.label
            i.icon.asterisk
      .ui.error.message
        .header We noticed some issues
      .ui.blue.submit.button Login
